<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ニッコリ.fi {{ title_jp }} {{ title_fi }} </title>
  <link rel="stylesheet" href="../../css/foundation.min.css">
  <link rel="stylesheet" href="../../css/app.css">
  <!-- You can add your own umami tracking here -->
  <!-- <script async src="https://analytics.umami.is/script.js"
          data-website-id="YOU-UMAMI-ID"></script> --> 
</head>
<body>
        <main>
          <div class="grid-x grid-padding-x columns">
                    <form>
                      <input type="checkbox" id="language-jp" checked>
                      <label for="language-jp">
                        🇯🇵<ruby>日本語<rp>(</rp><rt>にほんご</rt><rp>)</rp></ruby>
                      </label>

                      <input type="checkbox" id="language-fi" checked>
                      <label for="language-fi">
                        🇫🇮Suomi
                      </label>
                     </form>
            {% block content %}
            {{ content | safe }}
            {% endblock %}
          </div>
        </main>
</body>
</html>