<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ニッコリ.fi {{ title_jp }} {{ title_fi }} </title>
  <link rel="stylesheet" href="../../css/foundation.min.css">
  <link rel="stylesheet" href="../../css/app.css">
  <script async src="https://analytics.umami.is/script.js"
          data-website-id="d4ef6066-cf9b-4b85-86f7-1f87d53cb64f"></script>
</head>
<body>
        <main>
          <form>
            <input type="checkbox" id="language-jp" checked>
            <label for="language-jp">
              🇯🇵<ruby>日本語<rp>(</rp><rt>にほんご</rt><rp>)</rp></ruby>
            </label>
            
            <input type="checkbox" id="language-fi" checked>
            <label for="language-fi">
              🇫🇮Suomi
            </label>
           </form>
          <div style="text-align: center;">
            {% block content %}
            {{ content | safe }}
            {% endblock %}
          </div>
        </main>
</body>
</html>