<dic class="column callout primary">
    <div class="show-for-medium medium-4 columns">
        <img class="thumbnail"
        src="/img/profile_image.jpg" max-height="10">
    </div>
    <div class="medium-4 small-12 columns text-left" lang="jp">
        <h5>Example intro</h5>
        This is an example intro this block would be in japanese <BR>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

        <a data-umami-event="insta" target="_blank"
            href="https://github.com/enikkari/eleventy-dual-language-blog">
            github</a>
    </div>
    <div class="medium-4 small-12 columns text-left" lang="fi">
        <h5>Esimerkki intro</h5>
        Tämä on esimerkki into. Tämä blocki on suomeksi

        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

        <a data-umami-event="insta" target="_blank"
                    href="https://github.com/enikkari/eleventy-dual-language-blog">
                    github</a>
</div>