<dic class="column callout primary">
    <div class="show-for-medium medium-4 columns text-center">
        <img class="thumbnail"
        src="../img/nikkori.jpeg" max-height="10">
    </div>
    <div class="medium-4 small-12 columns" lang="jp">
        <h5>🇯🇵フィンランドのニッコリさん</h5>
        こんにちはみんなさん！私はフィンラド人だ日本人にフィンランドことを教えたいです。フィンランド人にも日本ことを教えたいです。
        インスタグラムにたくさんポストを作ります<br>
        <a data-umami-event="insta" target="_blank"
            href="https://www.instagram.com/finrando_no_nikkorisan/">
            インスタグラム</a>
    </div>
    <div class="medium-4 small-12 columns" lang="fi">
        <h5>🇫🇮Suomen Nikkori-san</h5>
        Hei kaikki!
        Olen suomalainen ja haluan esitellä suomalaisia juttuja ulkomaalaisille. 
        Ja japanilaisia juttuja suomalaisille. Kirjoitan helpolla selkosuomella.
        <br>
        <a data-umami-event="insta" target="_blank"
            href="https://www.instagram.com/finrando_no_nikkorisan/">
            Instagram</a>
</div>