{% macro langBlock(content1, content2) %}
<div class="row">
    <div class="medium-6 small-12 columns text-left" lang="jp">
        <p lang="jp">{{ content1 | safe}}</p>
    </div>
    <div class="medium-6 small-12 columns text-left" lang="fi">
        <p lang="fi">{{ content2 | safe }}</p>
    </div>
</div>
{% endmacro %}
