<!-- todo, reapat this pattern, make collapsible, images in middle -->
<div class="row medium-uncollapse large-collapse">
    <div class="small-6 columns">
        <header><h1>{{title_jp}}</h1></header>
{% block content1 %}{% endblock %}
    </div>
    <div class="small-6 columns">
        <header><h1>{{title_fi}}</h1></header>
        {% block content2 %}{% endblock %}
    </div>
</div>
{% block content %}
    {{ content | safe }}
    {% endblock %}
post list:
    {% include "postlist.njk" %}