{% from "multiliangblock.njk" import langBlock %}
{% from "embeds.njk" import instagram, centerImage %}
<div class="row">
    {% include "intro.njk" %}
</div>

<div class="row text-right">
    <div style="color: #655d56">{{date}}</div>
    <div style="font-size: 0.8rem; color: #b8b3ae">{{edited}}</div>
</div>
<div class="row">
    <div class="medium-6 small-12 columns" lang="jp">
        <header lang="jp"><h1>{{title_jp}}</h1></header>
    </div>
    <div class="medium-6 small-12 columns" lang="fi">
        <header lang="fi"><h1>{{title_fi}}</h1></header>
    </div>
</div>
<div class="row">
    {% block content %}
    {{ content }}
    {% endblock %}
</div>
    {% include "postlist.njk" %}
</div>